{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <h1>Employee List</h1>

    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>S.N</th>
                <th>Full Name</th>
                <th>Position</th>
                <th>Email Address</th>
            </tr>
        </thead>

        <tbody>
            {% for emp in emplyoee %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'employee_detail' emp.id %}">{{ emp.first_name }} {{ emp.last_name }}</a></td>
                <td>{{ emp.position }}</td>
                <td>{{ emp.email_address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>